@charset "utf-8";
@import "fabrx-variables";
@import "functions";
@import "variables";
@import "mixins";

/*--------------------------------------------------------------
# Set main reusable colors and fonts using CSS variables
# Learn more about CSS variables aft https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
--------------------------------------------------------------*/

/* color */
/* 
#fe7a16 orange primary  
*/

/* Fonts */
:root {
    --font-default: 'Francois One', sans-serif;
    --font-primary: 'Oxygen', sans-serif;
    --font-secondary: 'Francois One', sans-serif;
    --font-para: 'Karla', sans-serif;
  }
  
  /* Colors */
 :root {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;

    /* light dark colors */
    
  
    /* light colors */
    --accent1-light:  #fff; // light orange
    --accent2-white-light: hsl(0, 0%, 100%);
    --accent3-yellow-light: hsl(48, 98%, 51%);
    --accent3-grey-white: hsl(0, 0%, 98%);
    --accent4-navy-blue: hsl(229, 74%, 21%);

    // bg light buttons 
    --bkg1-light-btn: hsl(221, 50%, 60%); // light tan
    --bkg2-light-btn: hsl(228, 45%, 98%);
    --bkg3-dark-btn: hsl(229, 74%, 21%);
    --accent-white-btn: hsl(228, 45%, 98%);
    --accent-blue-btn:hsl(221, 50%, 60%);

    // badge color 
    --badge-accent1: hsl(47, 95%, 50%);
    
    // background colors 
    --bkg1-light: hsl(221, 50%, 60%); // light tan
    --bkg2-light: hsl(47, 95%, 50%);
    --bkg3-light: hsl(0, 0%, 100%);
    --bkg4-light: hsl(0, 0%, 98%);
    --bkg5-light: hsl(0, 0%, 100%);
    --bkg6-light: hsl(210, 17%, 98%);

    // background colors dark
    --bkg1-dark: hsl(0, 0%, 7%);
    --bkg2-dark: hsl(229, 74%, 21%);

    // card background colors 
    --bkg3-dark: hsl(0, 0%, 7%);
    --bkg4-dark: hsl(0, 0%, 16%);
    --bkg5-dark: hsl(260, 6%, 9%);

    /* dark colors  */
    --accent1-dark: hsl(0, 0%, 7%); 

    // gradient 
    --gradient1-dark: radial-gradient(circle, rgba(6,8,7,0.36372545600271353) 0%, rgba(6,8,17,1) 100%);
    --gradient2-light: radial-gradient(circle, rgba(23, 41, 120, 0.10) 0%, rgb(23, 41, 120, 0.80) 0%);


    // border colors 
    --border1-dark: hsl(210, 10%, 23%);
    --border2-light: hsl(221, 50%, 60%);
    --border3-light: hsl(0, 0%, 100%);
    --border4-dark: hsl(0, 0%, 7%);
    --border-bg1: hsl(204, 3%, 68%);
    

    // text muted 
    --text-muted-2: hsl(0, 0%, 63%);

    // light mode dark mode button 
    --light-mode-btn: hsl(221, 50%, 60%);
    --dark-mode-btn: hsl(229, 74%, 21%);

    // navbar
    --nav-links: hsla(0, 0%, 100%, 0.631);
    --nav-links-hover-blog: hsl(0, 0%, 40%);
    /* --nav-link-blog-accent1: hsl(0, 0%, 7%);
    --nav-link-blog-accent2: hsl(0, 0%, 7%);
    --nav-link-blog-accent3: hsla(0, 0%, 100%, 0.631); */

    //social links
    --social-links: hsla(0, 0%, 100%, 0.631);


 }

 @media(prefers-color-scheme: dark){
    :root {
      // colors 
      --accent1: var(--accent2-white-light);
      --accent2: var(--accent1-light);
      --accent3: var(--accent1-dark);
      --accent4: var(--accent1-dark);
      --accent5: var(--accent1-dark);
      --accent1-nav-links: var(--accent2-white-light);
      --accent2-nav-links: var(--accent2-white-light);
      --accent3-nav-links: var(--accent1-dark);
      --accent4-nav-links: var(--accent1-dark);
      --accent-social: var(--accent1);
      --accent-social2: var(--accent3);

      // gradient 
      --gradient1: var(--gradient2-light);

      // background color 
      --bkg1: var(--bkg2-dark);
      --bkg2: var(--bkg3-light);
      --bkg4: var(--bkg6-light);
      --bkg5: var(--bkg3-light);
      --bkg6: var(--bkg1-light);
      --bkg7: var(--bkg1-light);
      --bkg8: var(--bkg3-dark);
      --bkg9: var(--bkg3-light);
      --bg-nav-header: var(--bkg4-light);
      // border 
      --border1: var(--border1-dark);
      --border-bg1: var(--bkg1-dark);
      --border-bg2: var(--bkg3-light);

      // buttons
      --bkg1-btn: var(--bkg1-light-btn);
      --bkg2-btn: var(--bkg2-light-btn);
      --bkg3-btn: var(--bkg3-dark-btn);
      --bkg4-btn: var(--bkg1-light-btn);
      --bkg5-btn: var(--bkg3-dark-btn);
      --accent1-btn: var(--accent-white-btn);
      --accent2-btn: var(--accent-blue-btn);
      --accent1-hover-btn: var(--accent-white-btn);
      --light-dark-mode-btn: var(--dark-mode-btn);
    }
  }
  
  @media(prefers-color-scheme: light){
    :root {
      // colors 
      --accent1: var(--accent2-white-light);
      --accent3: var(--accent2-white-light);
      --accent4: var(--accent1-light);
      --accent5: var(--accent1-light);
      --accent1-nav-links: var(--accent2-white-light);
      --accent2-nav-links: var(--accent2-white-light);
      --accent3-nav-links: var(--accent1-dark);
      --accent4-nav-links: var(--accent2-white-light);
      --accent-social: var(--accent1-light);
      --accent-social2: var(--accent2);

      // background color 
      --gradient1: var(--gradient1-dark);
      --bkg2: var(--bkg1-dark);
      --bkg4: var(--bkg1-dark);
      --bkg5: var(--bkg2-dark);
      --bkg6: var(--bkg2-dark);
      --bkg7: var(--bkg1-dark);
      --bkg8: var(--bkg2-dark);
      --bkg9: var(--bkg5-dark);
      --bg-nav-header: var(--bkg1-dark);
      --border1: var(--border1-dark);
      --border-bg1: var(--bkg5-light);
      --border-bg2: var(--bkg3-light);

      // Button
      --bkg3-btn: var(--bkg2-light-btn);
      --bkg4-btn: var(--bkg3-dark-btn);
      --bkg5-btn: var(--bkg1-light-btn);
      --accent1-btn: var(--accent-white-btn);
      --accent1-hover-btn: var(--accent-blue-btn);
      --light-dark-mode-btn: var(--light-mode-btn);
    }
  }
  
  [color-scheme="dark"]{
    // colors 
    --accent1: var(--accent2-white-light);
    --accent2: var(--accent1-light);
    --accent3: var(--accent1-dark);
    --accent4: var(--accent1-dark);
    --accent5: var(--accent1-dark);
    --accent1-nav-links: var(--accent2-white-light);
    --accent2-nav-links: var(--accent2-white-light);
    --accent3-nav-links: var(--accent1-dark);
    --accent4-nav-links: var(--accent1-dark);
    --accent-social: var(--accent1);
    --accent-social2: var(--accent3);

    // gradient 
    --gradient1: var(--gradient2-light);

    // background color 
    --bkg2: var(--bkg3-light);
    --bkg4: var(--bkg6-light);
    --bkg5: var(--bkg3-light);
    --bkg6: var(--bkg1-light);
    --bkg7: var(--bkg1-light);
    --bkg8: var(--bkg3-dark);
    --bkg9: var(--bkg3-light);
    --bg-nav-header: var(--bkg4-light);
    --border1: var(--border1-dark);
    --border-bg1: var(--bkg1-dark);
    --border-bg2: var(--bkg3-light);

    // buttons
    --bkg1-btn: var(--bkg1-light-btn);
    --bkg2-btn: var(--bkg2-light-btn);
    --bkg3-btn: var(--bkg3-dark-btn);
    --bkg4-btn: var(--bkg1-light-btn);
    --bkg5-btn: var(--bkg3-dark-btn);
    --accent1-btn: var(--accent-white-btn);
    --accent2-btn: var(--accent-blue-btn);
    --accent1-hover-btn: var(--accent-white-btn);
    --light-dark-mode-btn: var(--dark-mode-btn);
  }
  
  [color-scheme="light"] {
    // colors 
    --accent1: var(--accent2-white-light);
    --accent3: var(--accent2-white-light);
    --accent4: var(--accent1-light);
    --accent5: var(--accent1-light);
    --accent1-nav-links: var(--accent2-white-light);
    --accent2-nav-links: var(--accent2-white-light);
    --accent3-nav-links: var(--accent1-dark);
    --accent4-nav-links: var(--accent2-white-light);
    --accent-social: var(--accent1-light);
    --accent-social2: var(--accent2);

    // background 
    --gradient1: var(--gradient1-dark);
    --bkg2: var(--bkg1-dark);
    --bkg4: var(--bkg1-dark);
    --bkg5: var(--bkg2-dark);
    --bkg6: var(--bkg2-dark);
    --bkg7: var(--bkg1-dark);
    --bkg8: var(--bkg2-dark);
    --bkg9: var(--bkg5-dark);
    --bg-nav-header: var(--bkg1-dark);
    --border1: var(--border1-dark);
    --border-bg1: var(--bkg5-light);
    --border-bg2: var(--bkg3-light);

    // Button
    --bkg3-btn: var(--bkg2-light-btn);
    --bkg4-btn: var(--bkg3-dark-btn);
    --bkg5-btn: var(--bkg1-light-btn);
    --accent1-btn: var(--accent-white-btn);
    --accent1-hover-btn: var(--accent-blue-btn);
    --light-dark-mode-btn: var(--light-mode-btn);
  } 

// dark mode light mode all color classes you can use for colors  

// Para 

.text-muted-2 {
  color: var(--text-muted-2);
}

// Text colors 
// Accents

.text-dark {
  color: var(--accent4);
  fill: var(--accent4);
}

.accent1 {
  color: var(--accent1);
  fill: var(--accent1);
}

.accent2 {
  color: var(--accent2);
  fill: var(--accent2);
}

.accent3 {
  color: var(--accent3) !important;
  fill: var(--accent3) !important;
}

.accent4 {
  color: var(--accent4);
  fill: var(--accent4);
}

.accent5 {
  color: var(--accent5);
  fill: var(--accent5);
}

.text-darker {
  color: var(--accent1-dark);
}

.accent1-nav-links {
  color: var(--accent1-nav-links);
  fill: var(--accent1-nav-links);
  @include media-breakpoint-up(lg) {
    color: var(--accent2-nav-links);
    fill: var(--accent2-nav-links);
  }
}

.accent3-nav-links {
  color: var(--accent3-nav-links);
  fill: var(--accent3-nav-links);
  @include media-breakpoint-up(lg) {
    color: var(--accent3-nav-links);
    fill: var(--accent3-nav-links);
  }
}

.accent4-nav-links {
  color: var(--accent4-nav-links);
  fill: var(--accent4-nav-links);
  @include media-breakpoint-up(lg) {
    color: var(--accent4-nav-links);
    fill: var(--accent4-nav-links);
  }
}

.accent2-white {
  color: var(--accent2-white-light) !important;
  fill: var(--accent2-white-light);
}

.accent3-yellow {
  color: var(--accent3-yellow-light);
  fill: var(--accent3-yellow-light);
}

.accent-social {
  color: var(--accent-social);
  fill: var(--accent-social);
}

.accent-social2 {
  color: var(--accent-social2);
  fill: var(--accent-social2);
}

.gradient1 {
  color: var(--gradient1);
  fill: var(--gradient1);
}

// background colors 

.bkg1 {
  background-color: var(--bkg1-light);
}

.bkg2 {
  background-color: var(--bkg2);
}

.bkg3 {
  background-color: var(--bkg3-light);
}

.bkg4 {
  background-color: var(--bkg4);
}

.bkg5 {
  background-color: var(--bkg5);
}

.bkg6 {
  background-color: var(--bkg6);
}

.bkg7 {
  background-color: var(--bkg7);
}

.bkg8 {
  background-color: var(--bkg8);
}

.bkg9 {
  background-color: var(--bkg9);
}

// border colors

.border1 {
  color: var(--border1);
}

.border2 {
  color: var(--border3-light);
}

.border-bg1 {
  background-color: var(--border-bg1);
}

.border-bg2 {
  background-color: var(--border-bg2);
}

.badge-accent1 {
  background-color: var(--badge-accent1);
}

// html body class 

html, body {
  overflow-x: hidden;
}

// New container class for more responsiveness 

.container {
  max-width: 1200px;
} 

.blog-content-section .container {
  max-width: 1000px;
}

// main section padding of my own

.fabrx-section  {
  padding: 5rem 0;
}

// Fonts

h1, h2, h3, h4, h5, h6, .h2 {
  font-family: var(--font-primary);
  margin: 0;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}

.lead {
  font-size: 1rem;
}

// Headings 

.cta-heading {
  font-size: 2rem;

  @include media-breakpoint-up(md) {
    font-size: 4rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 4rem;
  }

  @include media-breakpoint-up(xxl) {
    font-size: 4rem;
  }
}

.heading-1 {
  font-size: 2.5rem;

  @include media-breakpoint-up(md) {
    font-size: 3.5rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 3.5rem;
  }

  @include media-breakpoint-up(xxl) {
    font-size: 3.7rem;
  }
}

.heading-2 {
  font-size: 2rem ;

  @include media-breakpoint-up(md) {
    font-size: 2.8rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2.8rem;
  }

  @include media-breakpoint-up(xxl) {
    font-size: 3rem;
  }
}

.heading-4 {
  font-size: 1.6rem ;

  @include media-breakpoint-up(md) {
    font-size: 2rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2rem;
  }

  @include media-breakpoint-up(xxl) {
    font-size: 2rem;
  }
}

.heading-5 {
  font-size: 1.3rem ;

  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.5rem;
  }

  @include media-breakpoint-up(xxl) {
    font-size: 1.5rem;
  }
}

.heading-6 {
  font-size: 1.1rem ;

  @include media-breakpoint-up(md) {
    font-size: 1.3rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.3rem;
  }

  @include media-breakpoint-up(xxl) {
    font-size: 1.3rem;
  }
}

// List ul li 

.list-size-md {
  font-size: 1.2rem;
}

.list-size-sm {
  font-size: 1rem;
}

// Buttons 

.btn {
  background-color: var(--bkg1-btn);
  color: var(--accent1-btn);
} 

.btn:hover, .btn:active {
  background-color: var(--bkg3-btn);
  color: var(--accent1-hover-btn);
}

.btn-check:focus + .btn, .btn:focus {
  outline: 0;
  box-shadow: none;
}

.btn-2 a {
  font-size: 1.3rem;
  color: var(--accent1-light);
}

.btn-2 a:hover {
  color: var(--accent3-yellow-light);
}

// Borders 

hr{
  opacity: 0.55;
}

// Header 
  
.theme {
  background-color: var(--light-dark-mode-btn);
  width: 50px; 
  height: 50px;
  border-radius: 50%;
  border: 3px solid var(--light-dark-mode-btn);
  cursor: pointer;
  display: grid;
  place-items: center;
}

.theme:is(:hover, :focus, :active) {
  background-color: var(--light-dark-mode-btn);
} 

// Navbar classes 

.active{
  color:var(--accent1-light) !important;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-link:hover {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: var(--nav-links);
}

a:hover, a:focus {
  color: var(--nav-links);
}

.dropdown-menu li {
  position: relative;
}
 .dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}

.fabrx-header {
    padding: 10px 0;
    padding-top: 10px;
    padding-bottom: 10px;

    @include media-breakpoint-up(lg) {
      padding: 24px 0;
      padding-top: 24px;
      padding-bottom: 24px;
    }
}

.hameburger-menu {
  color: var(--accent1-nav-links);
  fill: var(--accent1-nav-links);
  
  @include media-breakpoint-up(lg) {
    color: var(--accent2-nav-links);
    fill: var(--accent2-nav-links);
  }
}

.fabrx-header-links a:hover svg *, .navbar-toggler:hover svg *, .fabrx-table-header .fabrx-header-links a svg *, [class*="btn-outline-"]:not(.btn-outline-light):focus svg * {
  fill: var(--accent2);
}

.white-icon .fabrx-header-links a:hover svg, .white-icon .fabrx-header-links a:hover svg *, .white-icon.fabrx-header-links a:hover svg, .white-icon.fabrx-header-links a:hover svg *, .white-icon button.navbar-toggler:hover svg, .white-icon button.navbar-toggler:hover svg * {
  opacity: 0.8;
  fill: var(--accent2);
}

// Mega menu

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dropdown-menu.show {
  -webkit-animation: fadeIn 0.3s alternate;
  /* Safari 4.0 - 8.0 */
  animation: fadeIn 0.3s alternate;
}

.nav-item.dropdown.dropdown-mega {
  position: static;
}

.nav-item.dropdown.dropdown-mega .dropdown-menu {
  width: 90%;
  top: auto;
  left: 5%;
}

.navbar-toggler {
  border: none;
  padding: 0;
  outline: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler .hamburger-toggle .hamburger.active span:last-child {
  top: 45%;
  transform: rotate(-45deg);
}

.list-group {
  flex-direction: column !important;
}

.logo-header {
  font-size: 1.2rem;

  @include media-breakpoint-up(lg) {
    font-size: 1.5rem;
  }
}

.icons {
  display: inline-flex;
  margin-left: auto;
}
.icons a {
  transition: all 0.2s ease-in-out;
  padding: 0.2rem 0.4rem;
  color: #ccc !important;
  text-decoration: none;
}
.icons a:hover {
  color: white;
  text-shadow: 0 0 30px white;
}

// All cards

.card a {
  color: var(--accent2-white-light);
}

.card a:hover{
  color: var(--accent3-yellow-light);
}

.card a.badge:hover, a.badge:active {
  color: var(--accent2-white-light);
}

.badge.circle {
  z-index: 0;
}

.splide__arrow {
  background-color: var(--bkg2-light) !important;
  opacity: 1 !important;
}

.splide__arrow svg {
  fill: var(--accent1-light) !important;
}

// Call to action 

.main-cta-section {
  background-image: var(--gradient1-dark), url(/assets/images/New-Images/Tri-star-worker-placeholder-4.jpg);
  background-size: cover;
  background-position: center center;
}

// Hero content home page 

.hero-section-light {
  background-image: var(--gradient1), url(/assets/images/New-Images/Tri-star-trucks.jpg);    
  background-position: center center;
  background-size: cover;
  position: relative;
}

.hero-caption {
  max-width: 920px;
  margin: 0;
}

.hero-para {
  font-weight: 400;
  /* font-size: 1.5rem; */
}
 
.hero-heading-1 {
  font-weight: 200;
  font-size: 6vw;
}

.hero-section-light .btn {
  background-color: var(--bkg4-btn);
  color: var(--accent-white-btn);
} 

.hero-section-light .btn:hover, .btn:active {
  background-color: var(--bkg2-btn);
  color: var(--accent-blue-btn);
}

.hero-section-light .btn-check:focus + .btn, .btn:focus {
  outline: 0;
  box-shadow: none;
}

.fabrx-stack-box {
  z-index: 10;
}

// About section home page
.about-section {
  padding: 0 0 50px 0;

  @include media-breakpoint-up(md) {
    padding: 0 0 80px 0;
  }

  @include media-breakpoint-up(lg) {
    padding: 0 0 80px 0;
  }

  @include media-breakpoint-up(xxl) {
    padding: 0 0 80px 0;
  }
}

.about-section .h2 {
  /* font-size: 2rem; */
  @include media-breakpoint-up(lg) {
    /* font-size: 3rem; */
  }
}

.about-section .btn {
  background-color: var(--bkg1-btn);
  color: var(--accent1-btn);
} 

.about-section .btn:hover, .btn:active {
  background-color: var(--bkg3-btn);
  color: var(--accent1-hover-btn);
}

.about-section .btn-check:focus + .btn, .btn:focus {
  outline: 0;
  box-shadow: none;
}

// Get to know us section home page

.get-to-know-us-section strong h6{
  color: var(--accent1-dark);
}

.get-to-know-us-section, .nav-tabs.nav-tabs-line .nav-item.show .nav-link, .nav-tabs.nav-tabs-line .nav-link.active {
  border-color: var(--accent1-dark);
}

.get-to-know-us-section, .nav-tags-stack .active .fabrx-icon svg *, .page-link svg *, .fabrx-lines svg *, .fabrx-media-links li a:hover svg * {
  fill: var(--accent1-dark);
}

.blog-section a{
  color: var(--accent2-white-light);
}

.blog-section .card a:hover{
  color: var(--accent3-yellow-light);
}

.blog-section a.badge:hover, a.badge:active {
  color: var(--accent2-white-light);
}

.splide__arrow {
  background-color: var(--bkg2-light) !important;
  opacity: 1 !important;
}

// Testimonials home page

.testimonial-author {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #060811;
}

.swiper-slider-box .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--accent-blue-btn);
}

.testimonial-section .border {
  border: 1px solid var(--border4-dark) !important;
}

// Call to action 
.cta-section .card .btn-cta {
    background-color: var(--bkg1-btn);
    color: var(--accent1-btn);
}

.cta-section .card .btn-cta:hover, .btn-cta:active {
    background-color: var(--bkg3-btn);
    color: var(--accent1-hover-btn);
}

// Footer 

.footer-text {
  font-size: 1.5rem;
  @include media-breakpoint-up(lg) {
    font-size: 3.5rem;
  }
}

.form-control {
  padding: 0;
  border-color: var(--accent1-dark);
}

.fabrx-footer {
  border-top: none;
}

footer .form-control:focus, .fabrx-checks li::before, .spinner-fill::before {
  border-color: var(--accent2-white-light);
}

footer .navbar-expand-lg .navbar-nav .nav-item .nav-link .accent3{
  font-size: 12px;
}

.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  font-size: 12px;
}

footer .nav-link{
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  // color: var(--accent1-dark);
}

footer .nav-link:hover {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: var(--social-links);
}

footer a  {
  color: var(--accent1-dark);
}

footer a:hover, a:focus {
  color: var(--accent2-white-light);
}

footer .accent-social:hover {
  color: var(--nav-links);
}

footer .btn:focus {
  background-color: var(--bkg2-light-dark-btn);
  color: var(--accent1-dark);
}

.form-control::placeholder {
  color: var(--accent1-dark);
}

// Success page or form 

.success-section {
  background-image: radial-gradient(circle,rgba(6,8,17,.363725456) 0,#060811 100%),url(/assets/images/New-Images/Construction-16.jpg);
  background-size: cover;
  background-position: center center;
}

// Email

.success-hero-caption {
  margin: 0;
}

.success-hero-heading-1 {
  font-weight: 200;
  font-size: 2rem;
  @include media-breakpoint-up(lg) {
    font-size: 3rem;
  }
}

// About page 

// Hero section 
.hero-contact-1 {
  background-image: var(--gradient1), url(/assets/images/Tri-star-photos/contact-plumbing-1.jpg);    
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.hero-section-project-1 {
  background-image: var(--gradient1), url(/assets/images/Tri-star-photos/all-plumbing-projects-1.jpg);    
  background-position: bottom center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.hero-section-service-1 {
  background-image: var(--gradient1), url(/assets/images/Tri-star-photos/all-plumbing-services-1.jpg);    
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.hero-section-1 {
  background-image: var(--gradient1), url(/assets/images/New-Images/Plumbing-15.jpg);    
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.hero-heading-2 {
  font-weight: 200;
  font-size: 2.8rem;
  @include media-breakpoint-up(md) {
    font-size: 4.5rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 4.5rem;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 6.5rem;
  }
}

// About content page

.about .about-img {
  min-height: 600px;
  background-position: center;
  background-size: cover;
}

.about h2 {
  font-weight: 700;
  max-width: 65%;
  margin: 0 0 60px 0;
}

.about .fa-circle-play {
  color: var(--bkg1-light);
}

.about a {
  color: var(--accent1-light);
}

.about a:hover {
  color: var(--accent2-white-light);
  cursor: pointer;
}

.about .our-story {
  padding: 40px 20% 40px 40px;
}

.about .about-grid {
  display: grid;
  grid-template-columns: 1fr;
  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr 150px 1fr;
  }
}

.about .our-story-grid-item-1 {
    grid-column: 1/-2;
    grid-row: 1/-2;
  @include media-breakpoint-up(lg) {
    grid-column: 1/-2;
    grid-row: 1/2;
  }
  }

.about .about-img-grid-item-2 {
    grid-column: -1/1;
    grid-row: 1/4;
  @include media-breakpoint-up(lg) {
    grid-column: -1/2;
    grid-row: 1/4;
  }
}

.about ul li {
  display: flex;
  text-align: center;
  padding: 10px 0;
  text-align: center;
}

.icon-box i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  font-size: 40px;
  width: 56px;
  height: 56px;
  line-height: 0;
}

/* .youtube-video {
  width: 100%;
  height: 100vh;
  aspect-ratio: 16/9;
}

.video-background-section video {
  width: 100%;
  height: 600px;
  object-fit: cover;
  z-index: -100;
} */

.about-cta-section {
  padding: 10rem 0;
  background-image: var(--gradient1), url(/assets/images/New-Images/Tri-star-trucks.jpg);
  background-size: cover;
  background-position: center center;
}

.about-cta-section p {
  font-size: 1rem;
}

.about-form-section .btn {
  background-color: var(--bkg5-btn);
  color: var(--accent1-light);
}

.about-form-section .btn:hover, .btn:active {
  background-color: var(--bkg5-btn);
  color: var(--accent1-light);
}

// project page 

.hero-project-1 {
  background-image: var(--gradient1), url(/assets/images/New-Images/Placeholder-plumbing-9.jpg);    
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.hero-project-2 {
  background-image: var(--gradient1), url(/assets/images/New-Images/Placeholder-plumbing-16.jpg);    
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.hero-project-3 {
  background-image: var(--gradient1), url(/assets/images/New-Images/Placeholder-plumbing-21.jpg);    
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.hero-project-4 {
  background-image: var(--gradient1), url(/assets/images/New-Images/Placeholder-plumbing-35.jpg);    
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.hero-heading-project {
  font-weight: 200;
  font-size: 2rem;

  @include media-breakpoint-up(md) {
    font-size: 3rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 4rem;
  }

  @include media-breakpoint-up(xxl) {
    font-size: 5rem;
  }
}

.image-gallery .gallery-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.grid-1 {
  grid-row: 1/2;
  grid-column: 1/4;

  @include media-breakpoint-up(md) {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
  }

  @include media-breakpoint-up(lg) {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
  }

  @include media-breakpoint-up(xxl) {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
  }
}

.grid-2 {
  grid-row: 2/3;
  grid-column: 1/4;

  @include media-breakpoint-up(md) {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  @include media-breakpoint-up(lg) {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  @include media-breakpoint-up(xxl) {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }
}

.grid-3 {
  grid-row: 3/4;
  grid-column: 1/4;

  @include media-breakpoint-up(md) {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  @include media-breakpoint-up(lg) {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  @include media-breakpoint-up(xxl) {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }
}

.grid-4 {
  grid-row: 4/5;
  grid-column: 1/4;

  @include media-breakpoint-up(md) {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }

  @include media-breakpoint-up(lg) {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }

  @include media-breakpoint-up(xxl) {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }
}

.grid-5 {
  grid-row: 5/6;
  grid-column: 1/4;

  @include media-breakpoint-up(md) {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
  }

  @include media-breakpoint-up(lg) {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
  }

  @include media-breakpoint-up(xxl) {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
  }
}

#gallery-modal .modal-img{
	width: 100%;
}

.gallery-item:hover {
  cursor: pointer;
}

#gallery-modal .modal-content {
  background-color: transparent;
  background-clip: padding-box;
  border: none;
}

#gallery-modal .modal-header {
  border-bottom: none;
}

// Service page 

.service-link a {
  font-size: 1rem;
  color: var(--accent1-light);
}

.service-link a:hover {
  color: var(--accent3-yellow-light);
}

.hero-service-1 {
  background-image: var(--gradient1), url(/assets/images/New-Images/Placeholder-plumbing-39.jpg);    
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.service-grid .service-image-grid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  @include media-breakpoint-up(xxl) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.service-grid-item-1 {
    grid-column: auto;
    grid-row: auto;

  @include media-breakpoint-up(md) {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
  }

  @include media-breakpoint-up(lg) {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
  }

  @include media-breakpoint-up(xxl) {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
  }
}

.service-grid-item-2 {
  grid-column: auto;
  grid-row: auto;

  @include media-breakpoint-up(md) {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  @include media-breakpoint-up(lg) {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  @include media-breakpoint-up(xxl) {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }
}

.service-grid-item-3 {
  grid-column: auto;
  grid-row: auto;

  @include media-breakpoint-up(md) {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
  }

  @include media-breakpoint-up(lg) {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
  }

  @include media-breakpoint-up(xxl) {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
  }
}

.card-btn-cta-service {
  font-size: 1.3rem;
}

.service-section .border {
    border: 1px solid var(--border4-dark) !important;
}

// Contact section 

.contact-section .form-control {
    height: 48px;
    padding: 10px 15px;
    border-color: var(--accent3);
}

.contact-section .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--accent3);
  opacity: 1; /* Firefox */
}

.contact-section .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--accent3);
}

.contact-section.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--accent3);
}

.contact-section .btn-form {
  background-color: var(--bkg4-btn);
  color: var(--accent-white-btn);
} 

// Local-law-152 page

.Local-law-152-section {
  background-image: var(--gradient1), url(/assets/images/New-Images/New-york-city-skyline.jpg);    
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

// accordion

.accordion-button:not(.collapsed) {
  color: var(--accent2);
  background-color: var(--bkg6);
}

.accordion-button:focus {
  z-index: 3;
  border-color: transparent;
    border-right-color: none;
    border-left-color: none;
  outline: 0;
  box-shadow: none;
}

#nav {
  z-index: 9999;
}

// careers page 

.career-img {
  min-height: 600px;
  background-position: center;
  background-size: cover;
}

.career-section-1 h1 {
  font-weight: 700;
  margin: 0 0 80px 0;
}

.career-section-1 .fa-circle-play {
  color: var(--bkg1-light);
}

.career-section-1 .career-info {
  padding: 40px 20% 40px 40px;
}

.career-section-1 .career-grid {
  display: grid;
  grid-template-columns: 1fr;
  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr 150px 1fr;
  }
}

.career-section-1 .career-grid-item-1 {
    grid-column: 1/-2;
    grid-row: 1/-2;
  @include media-breakpoint-up(lg) {
    grid-column: 1/-2;
    grid-row: 1/2;
  }
  }

.career-section-1 .career-grid-item-2 {
    grid-column: -1/1;
    grid-row: 1/4;
  @include media-breakpoint-up(lg) {
    grid-column: -1/2;
    grid-row: 1/4;
  }
}

.careers ul li {
  display: flex;
  text-align: center;
  padding: 10px 0;
  text-align: center;
}

.icon-box i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  font-size: 40px;
  width: 56px;
  height: 56px;
  line-height: 0;
}

/* .youtube-video {
  width: 100%;
  height: 100vh;
  aspect-ratio: 16/9;
}

.video-background-section video {
  width: 100%;
  height: 600px;
  object-fit: cover;
  z-index: -100;
} */

.about-form-section .btn {
  background-color: var(--bkg5-btn);
  color: var(--accent1-light);
}

.about-form-section .btn:hover, .btn:active {
  background-color: var(--bkg5-btn);
  color: var(--accent1-light);
}

.career-info {
  padding: 40px 10% 40px 40px;
}

.career-grid {
  display: grid;
  grid-template-columns: 1fr;
  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr 150px 1fr;
  }
}

.career-grid-item-1 {
  grid-column: -1/1;
  grid-row: 1/4;
  @include media-breakpoint-up(lg) {
    grid-column: 1/3;
    grid-row: 1/4;
  }
}

.career-grid-item-2 {
  grid-column: 1/-2;
  grid-row: 1/-2;
  @include media-breakpoint-up(lg) {
    grid-column: 2/4;
    grid-row: 3/2;
  }
}

.career-grid-item-3 {
  grid-column: -1/1;
  grid-row: 1/4;
  @include media-breakpoint-up(lg) {
    grid-column: -1/2;
    grid-row: 1/4;
  }
}

.career-grid-item-4 {
  grid-column: 1/-2;
  grid-row: 1/-2;
  @include media-breakpoint-up(lg) {
    grid-column: 1/-2;
    grid-row: 3/2;
  }
}

.career-grid-item-5 {
  grid-column: -1/1;
  grid-row: 1/4;
  @include media-breakpoint-up(lg) {
    grid-column: 1/3;
    grid-row: 1/4;
  }
}

.career-grid-item-6 {
  grid-column: 1/-2;
  grid-row: 1/-2;
  @include media-breakpoint-up(lg) {
    grid-column: 2/4;
    grid-row: 3/2;
  }
}

.career-grid-item-7 {
  grid-column: -1/1;
  grid-row: 1/4;
  @include media-breakpoint-up(lg) {
    grid-column: -1/2;
    grid-row: 1/4;
  }
}

.career-grid-item-8 {
  grid-column: 1/-2;
  grid-row: 1/-2;
  @include media-breakpoint-up(lg) {
    grid-column: 1/-2;
    grid-row: 3/2;
  }
}

.career-contact-section .form-control {
  height: 48px;
  padding: 10px 15px;
  border-color: var(--accent2);
}

.career-contact-section .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: var(--accent2);
opacity: 1; /* Firefox */
}

.career-contact-section .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: var(--accent2);
}

.career-contact-section.form-control::-ms-input-placeholder { /* Microsoft Edge */
color: var(--accent2);
}

.career-contact-section .btn-form {
background-color: var(--bkg5-btn);
color: var(--accent-white-btn);
}

// career individual pages 

.career-detail-section li {
  list-style-type: none;
  padding-bottom: 1rem;
}

.career-detail-section li:last-child {
  padding-bottom: 0;
}

.career-detail-section ul{
  padding-left: 0;
}

.career-detail-section i{
  color: var(--accent3-yellow-light);
  padding-right: 1rem;
}

// blog page

.blog-header .active{
  color:var(--accent3) !important;
}

.blog-header .nav-link:hover {
  color: var(--nav-links-hover-blog);
}

.blog-header .nav-link:active {
  color: var(--nav-links-hover-blog);
}

.blog-header .nav-link:focus {
  color: var(--nav-links-hover-blog);
}

.blog-content-section .text-blog-width-1 {
  width: 100% !important;

  @include media-breakpoint-up(lg) {
    width: 50% !important;
  }
}

.blog-content-section .text-blog-width-2 {
  width: 100% !important;

  @include media-breakpoint-up(lg) {
    width: 75% !important;
  }
}